[submodule "YouCannotGoBack"]
	path = YouCannotGoBack
	url = https://github.com/timboe/YouCannotGoBack.git
[submodule "PlaydateGameSelect"]
	path = PlaydateGameSelect
	url = https://github.com/timboe/PlaydateGameSelect.git
[submodule "Cascada"]
	path = Cascada
	url = https://github.com/timboe/Cascada.git
[submodule "FactoryFarming"]
	path = FactoryFarming
	url = https://github.com/timboe/FactoryFarming.git
